
body {
  background-color: lightgray;
}

h2 {
  font-size: 2em;
  margin: 0em;
}

fieldset {
  border: 0;
  display: block;
}

dt {
  font-weight: bold;
}

label {
  font-weight: bold;
}

input[type="tel"] {
  max-width: 10em;
}

input[type="number"] {
  max-width: 8em;
}